/* App.css */
.body-wrapper {
  display: flex;
  flex-direction: column; /* Ensures the NavBar is at the top */
  min-height: 100vh;
  background-color: #060606;
}

.content-wrapper {
  transition: margin-left 0.3s ease; /* Smooth transition for the margin change */
  margin-left: 0; /* Default state, sidebar is hidden */
}

.sidebar-open .content-wrapper {
  margin-left: 250px; /* Adjust content when sidebar is visible */
}